### Exploration des données

- Visualisation des données
- Statistiques descriptives

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy
import os

In [ ]:
from dotenv import load_dotenv
from pathlib import Path

# Charger les variables d'environnement depuis le fichier .env parent
load_dotenv(dotenv_path='../.env')

DATA_PATH = os.getenv("DATA_PATH")

prostate = pd.read_csv(
    DATA_PATH,
    sep=r"\s+",
    header=None)

prostate.head()

           0      1   2     3     4     5
count     81     81  81    81    81    81
unique    79     74  31    39    27    72
top     1.67  34.45  68  0.25  0.25  0.85
freq       2      2  10    36    39     3